@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #56585b;
}

::-moz-placeholder {
  color: #56585b;
}

:-moz-placeholder {
  color: #56585b;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Antic Slab", serif;
  margin: 0;
  background: url("https://firebasestorage.googleapis.com/v0/b/portfolio-231ae.appspot.com/o/images%2FfoodBanner.jpg?alt=media&token=147fd6ec-c4b5-403e-8916-907afea34688") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

ul,
nav {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
}

i {
  font-size: 1.3rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 10px 100px 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav li {
  margin: 0 15px;
  cursor: pointer;
  font-size: 1.5rem;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

header h2 {
  cursor: pointer;
}

.animate__fadeInDown {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

.animate__fadeInUp {
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

.category__list {
  display: inline;
}

.category__list__button {
  background: #ef3f5a;
  border: 0px solid transparent;
  color: white;
  padding: 15px 32px;
  border-radius: 25px;
  margin: 0.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.category__list__button:hover {
  background: #d73851;
  border: 0px solid transparent;
  color: #fff;
}

a.btn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a.btn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

.cover {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.flex-form input[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  -webkit-box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

@media all and (max-width: 800px) {
  body {
    font-size: 0.9rem;
  }
  .flex-form {
    width: 100%;
  }
  input[type="search"] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .flex-form > * {
    font-size: 0.9rem;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 10px !important;
  }
  header h2 {
    margin-bottom: 15px;
  }
  h1 {
    font-size: 2rem;
  }
  .cover {
    padding: 20px;
  }
}

@media all and (max-width: 360px) {
  .flex-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  input[type="search"] {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  label {
    display: none;
  }
  .category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .category-list__button {
    background: #ef3f5a;
    border: 0px solid transparent;
    color: white;
    padding: 4px 8px;
    font-size: 1.1rem;
  }
  .category-list__button:hover {
    background: #d73851;
    border: 0px solid transparent;
    color: #fff;
  }
}
/*# sourceMappingURL=App.css.map */